.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/*#Menu {*/
/*    width: 50%;*/
/*    height: 40px;*/
/*    background-color: blue;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-top: 20px;*/
/*    border-radius: 20px;*/
/*}*/

.wrapper {
    border-radius: 12px;
    background-color: #b5d0e0;;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fill, 330px);
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.button {
    background-color: #b5d0e0; /* Green */
    border: none;
    color: black;
    width: 100px;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /*-webkit-transition-duration: 0.4s; !* Safari *!*/
    transition-duration: 0.4s;
    border-radius: 11px;
}


.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 #282c34;
}

.buttoncans:hover {
    box-shadow: 0 12px 16px 0 #d32222, 0 17px 50px 0 #d32222;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 20%;
    padding: 30px;
    background-color: #c0efdc;
    border-radius: 15px;
}


.title {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    font-family: Georgia, Georgia, serif;
    font-size: 20px;
}

.p1 {
    font-family: Georgia, Georgia, serif;
    font-size: 17px;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b5d0e0;
    text-align: center;
    color: #111;
    font-family: Georgia, Georgia, serif;
    border-radius: 16px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fill, 320px);
}

#canvas1 {
    /*display: inline;*/
    font: italic bold 14px Georgia, serif;
    text-align: center;
    line-height: 8;
    /*height: auto;*/
    width: auto;

}

#canvas2 {
    /*display: a;*/
    font: italic bold 14px Georgia, serif;
    text-align: center;
    line-height: 8;
    /*height: auto;*/
    width: auto;

}

#canvas3 {
    display: inline;

    font: italic bold 14px/34px Georgia, serif;
    text-align: center;
    line-height: 8;
    text-transform: uppercase;
    height: auto;
    width: auto;

}
.selo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 20%;
    padding: 30px;
    border-radius: 15px;
}



@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

