# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/saas-web/node_modules
/saas-web/.pnp
/saas-web.pnp.js

# testing
/saas-web/coverage

# production
/saas-web/build

# misc
/saas-web/.DS_Store
/saas-web/.env.local
/saas-web/.env.development.local
/saas-web/.env.test.local
/saas-web/.env.production.local
